.header {
  height: 60px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  background-color: lightcoral;
}

.header-icons {
  width: 25px;
  height: 25px;
}

.youtube-icon {
  width: 90px;
}

.middle-section {
  background-color: lightgreen;
}

.right-section {
  background-color: lightsalmon;
}
