.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 30px;
}

.video-thumbnails {
  position: relative;
}

.thumbnail-image {
  width: 312px;
  height: 175px;
  border-radius: 10px;
}

.timestamp {
  background-color: rgb(15, 15, 15);
  color: white;
  padding: 3px 4px;
  font-size: 12px;
  border-radius: 5px;
  position: absolute;
  bottom: 8px;
  right: 33px;
}

.video-info {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.channel-image-container {
  margin-right: 10px;
}

.channel-image {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.video-related-info {
  flex: 1;
  padding-right: 24px;
}

.video-title {
  color: rgb(15, 15, 15);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.channel-name,
.video-stat {
  color: rgb(99, 99, 99);
  margin-bottom: 3px;
  font-size: 14px;
}

.channel-name {
  display: flex;
  align-items: center;
}

.verified-mark {
  width: 14px;
  height: 14px;
  margin-left: 3px;
  fill: rgb(96, 96, 96);
  margin-top: 1px;
}

.middle-dot {
  font-weight: bold;
}
